@model ProductListViewModel

@if(Model.Products.Count() == 0){
    <h1>No Products</h1>
}
@foreach (var product in Model.Products){
    <div>
        <h1>@product.Name</h1>
        <p>@product.Description</p>
        <p>@product.Price</p>
    </div>
}